:root{
    --vermelho: #e50914;
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body{

    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .logo{
    height: 50px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/* filme */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/bnh-fundo.jpg') ;

    background-size: cover;

    height: 400px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 90px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15%;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 15px 30px;
    margin-right: 15px;

    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.container {
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}

.search{
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(../img/icon-search.png) no-repeat center right;
    background-size: 15px;
    width: 15px;
    transition: all 0.5s linear;
}

.search:hover{
    cursor: pointer;
}

.search:focus{
    width: 90px;
    border: 1px solid rgb(263, 263, 263);
    border-radius: 10px;
    padding: 5px;
    cursor: auto;
}